.main_box{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.main_box_line{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap;
    margin-bottom: 20px;
}
.main_box_line1{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-flow: wrap;
}
.header{
    background: darkorange;
    width: 100%;
    min-height: 10vh;
    max-height: 100vh;
    color: white;
    font-family: "Poor Richard";
    font-weight: bold;
    font-size: 5vh;
}
.Logo{
    height: 8vh;
    width: 8vh;
}
.filters{
    font-family: "Poor Richard";
    font-weight: bold;
    font-size: 2vh;
    display: flex;
    margin: 10px;
}
.bold{
    color: aqua;
}
.pagenumber{
    font-family: "Poor Richard";
    font-size: 2vh;
}
.back_next{
    height: 8vh;
    width: 14vh;
}


